# APEX APP - ENVIRONMENT CONFIG
BASE_PATH=/demo
PORT=8080

# Database connection string.
# Default: PostgreSQL (container name postgres_db, port 5432, database demo)
DATABASE_URL=postgresql+psycopg2://demo:password@postgres_db:5432/demo


# Uncomment to use SQLite db (local file db) instead of connecting to PostgreSQL.
# DATABASE_URL=sqlite:///./data/app.db

# PostgreSQL-based user and password information (update for each new application db and user)
DATABASE_USER=demo
DATABASE_PASSWORD=password
