# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.python-version

# Environment / Secrets
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
logs/
tmp/
